.spreadsheet-form 
    h2 Enter the Task Below
    form(action="/form" method="post")
        .form-section 
            label.form-label(for="task_name") Task Name*: 
            input.form-input(
                type="text", 
                name="task_name" 
                placeholder="Short & Memorable Task Name" 
                value=submission.taskName
                size="30"
                required
                pattern="^[A-Z].{1,25}")
        .form-section 
            label.form-label(for="task_desc") Task Description*: 
            textarea.form-input(
                type="text", 
                name="task_desc" 
                placeholder="Lengthy task description" 
                value=submission.taskDesc
                cols="29"
                rows="10"
                required
                pattern="\\(\\d{3}\\)\\d{3}[-]\\d{4}")
        .form-section 
            p.form-info * indicates required
        input(type="submit")