.spreadsheet-form 
    form(action="/form" method="post")
        .form-section 
            label.form-label(for="name") Full Name*: 
            input.form-input(
                type="text", 
                name="name" 
                placeholder="Enter a name here" 
                value=submission.name
                required
                pattern="^[A-Z].{1,25}")
        .form-section 
            label.form-label(for="phone") Cell Phone #*: 
            input.form-input(
                type="tel", 
                name="phone" 
                placeholder="Format: (502)920-2020" 
                value=submission.phone
                required
                pattern="\\(\\d{3}\\)\\d{3}[-]\\d{4}")
        .form-section 
            p.form-info * indicates required
        input(type="submit")