doctype html 
html(lang="en")
    head 
        title Errand Author Form 
        link(rel='stylesheet', href='/static/style.css')
    body 
        .app 
            form(action="/form" method="post")
                .form-section 
                    label.form-label(for="name") Name: 
                    input.form-input(
                        type="text", 
                        name="name" 
                        placeholder="Enter a name here" 
                        value=submission.name
                        required)
                .form-section 
                    label.form-label(for="phone") Text: 
                    input.form-input(
                        type="tel", 
                        name="phone" 
                        placeholder="Enter text here" 
                        value=submission.phone
                        required)
                input(type="submit")